.mainhelp {
	position: fixed;
    display: block;
	background-color: #ffffffed;
	border: 2px solid #0ebeff;
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
	max-width: 700px;
	padding: 5px 10px!important;
	z-index: -1;
	overflow-y: auto;
	opacity: 0;
	transition: 0.4s opacity;
}

.unfade {
    opacity: 1!important;
    z-index: 1!important;
	transition: 0.4s opacity, z-index;
}