@import url('https://fonts.googleapis.com/css?family=Pangolin&display=swap');

html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Calibri', sans-serif;
	background-color: #f4f4f4;
	height: 100%;
}

::-webkit-scrollbar {
  	display: none;	
}

.app {
	display: grid;
	grid-template-columns: 7fr 13fr;
	height: 100%;
}

.left-panel {
	display: grid;
	// grid-template-columns: 1fr 1fr;
	grid-auto-rows: min-content;
	padding: 0 2px 0 2px;
}


