html {
  width: 100%;
  height: 100%;
}

body {
	margin: 0;
	font-family: 'Calibri', sans-serif;
	background-color: #f4f4f4;
	height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.app {
  display: grid;
  grid-template-columns: 7fr 13fr;
	grid-auto-rows: auto;
}

.left-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	padding: 0 2px 0 2px;
}

.map {
	position: fixed;
  top: 0;
  left: 35%;
	height: 100%;
	width: 65%;
	box-sizing: border-box;
}
