.ymap {
	position: fixed;
    top: 0;
    left: 35%;
	width: 65%;
	height: 100%;
}

.logo-balloon {
    display: table;
    text-align: left;
}
.logo-balloon div { /* для IE8+ */
	display: table-cell;
	vertical-align: middle;
}
